<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ms-4" href="/">MayhewSailing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if current_page?(root_path) %>">
        <a class="nav-link" href="<%= root_path %>">Home</a>
      </li>
      <li class="nav-item <%= 'active' if current_page?(posts_path) %>">
        <a class="nav-link" href="<%= posts_path %>">Blog</a>
      </li>
      <li class="nav-item <%= 'active' if current_page?(new_contact_form_path) %>">
        <a class="nav-link" href="<%= new_contact_form_path %>">Contact Us</a>
      </li>
      <!-- Assuming you have a CrewsController -->
      <li class="nav-item">
        <a class="nav-link" href="pages/crew">Crew</a>
      </li>
      <!-- Assuming you have a WishItemsController -->
      <li class="nav-item <%= 'active' if current_page?(wish_items_path) %>">
        <a class="nav-link" href="<%= wish_items_path %>">Wishlist</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= admin_index_contact_forms_path %>">Contact Forms</a>
          <a class="dropdown-item" href="<%= admin_index_posts_path %>">Blog Posts</a>
          <!-- Add other admin_index paths as needed -->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
