<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <p class="text-success"><%= notice %></p>

      <h1 class="mb-3">Wish Items</h1>

      <div class="mb-3">
        <p>Total cost: <strong><%= format_price(@wish_items_total) %></strong></p>
        <p>Remaining cost: <strong><%= format_price(@wish_items_remaining) %></strong></p>
        <p>Paid cost: <strong><%= format_price(@wish_items_paid) %></strong></p>
      </div>
      <%= link_to "New Wish Item", new_wish_item_path, class: "btn btn-success my-4" %>
      <div class="wish-border">
        <h3 class="ms-2 mt-1">Items</h1>
        <table class="wish-table table table-striped mb-3">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Paid For</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @wish_items.each do |wish_item| %>
              <tr id="<%= dom_id(wish_item) %>">
                <td><%= wish_item.name %></td>
                <td><%= wish_item.formatted_price %></td>
                <td><%= wish_item.paid_for ? 'Yes' : 'No' %></td>
                <td>
                  <%= link_to "Details", wish_item, class: "btn btn-primary btn-sm" %>
                  <%# Add additional actions here if needed, e.g., Edit, Delete %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <div>
</div>
