<div class="container mt-4">
  <p class="text-success"><%= notice %></p>

  <h1 class="mb-4">Events</h1>

  <% @events.each_with_index do |event, index| %>
    <div class="row align-items-center mb-4 event-card <%= index.even? ? 'bg-light' : 'bg-secondary text-white' %>">
      <div class="col-md-2">
        <h2 class="display-4"><%= event.start_time.strftime("%d") %></h2>
        <h4><%= event.start_time.strftime("%B") %></h4>
      </div>
      <div class="col-md-8">
        <h3><%= event.title %></h3>
        <p><%= event.description.truncate(100) %></p>
      </div>
      <div class="col-md-2 justify-content-end">
        <%= link_to "Details", event, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <%= link_to "New event", new_event_path, class: "btn btn-success" %>
</div>
