<div>
  <p style="color: green"><%= notice %></p>

  <div class="blog-headings">
    <h1> Blog Posts</h1>
    <% if user_signed_in? %>
      <%= link_to "New post", new_post_path, class: "btn btn-primary mt-2" %>
    <% end %>
  </div>

  <div id='map' style='width: 400px; height: 300px;'></div>

  <div id="posts" class="posts-container">
    <% @posts.each do |post| %>
      <div class="post-item">
        <h3>
          <%= post.title %>
        </h3>
        <h5><%= post.created_at.strftime('%b %d, %Y') %> - <%= post.author %></h5>
        <p>
          <%= link_to "Show this post", post, class: "btn btn-outline-primary" %>
        </p>
      </div>
    <% end %>
  </div>
</div>
<script>
  mapboxgl.accessToken = '<%= ENV["MAPBOX_API_KEY"] %>';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v12', // style URL
    center: [0, 0], // This will be overridden by fitBounds
    zoom: 1         // This will be overridden by fitBounds
  });

  var markers = <%= raw @markers.to_json %>;
  var bounds = new mapboxgl.LngLatBounds();

  markers.forEach(function(marker) {
    // Extend the bounds to include the new marker's position
    bounds.extend([marker.lng, marker.lat]);
    new mapboxgl.Marker().setLngLat([marker.lng, marker.lat]).addTo(map);
  });

  // Fit the map to the bounds of the markers with a padding
  if (markers.length > 0) {
    map.fitBounds(bounds, { padding: 30 });
  }
</script>
