<p style="color: green"><%= notice %></p>

<div id='map' style='width: 400px; height: 300px;'></div>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
<script>
  mapboxgl.accessToken = '<%= ENV["MAPBOX_API_KEY"] %>';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [<%= @post.longitude %>, <%= @post.latitude %>],
    zoom: 14
  });

  new mapboxgl.Marker().setLngLat([<%= @post.longitude %>, <%= @post.latitude %>]).addTo(map);
</script>
